.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container .second-container {
  width: 70%;
  color: #fff;
  background-color: rgba(89, 52, 255, 0.562);
  border-radius: 2em;
  margin-top: 3em;
  margin-bottom: 3em;
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  flex: none;
  padding: 1em 2em 0 1em;
}

.main-container img {
  width: 10em;
  height: 10em;
  background-color: azure;
  border-radius: 2em;
  border: 2px solid #ececec;
  background: linear-gradient(
    rgba(240, 240, 240, 0.932),
    rgba(219, 219, 219, 0.685)
  );
}

.main-container .second-container .container {
  height: 75%;
  grid-column: 2/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
}

.main-container .container p {
  width: 100%;
  font-weight: 600;
  font-size: larger;
  text-align: justify;
}

.main-container .container button {
  align-self: flex-end;
  height: 6em;
  width: 10em;
}
