.doc-container {
  width: 18em;
  height: 20em;
  border: 2px solid rgba(168, 148, 255, 0.925);
  outline: 0;
  border-radius: 0.5em;
  background-color: linear-gradient(rgb(124, 123, 123),rgb(83, 83, 83),rgba(3, 3, 3, 0.623));
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: last baseline;
  padding-bottom: 0.5em;
}

.doc-container .infos {
  font-weight: 900;
  text-align: center;
  color: #fff;
  width: 100%;
}

.doc-container .infos .profession {
  font-size: small;
  color: rgb(196, 193, 193);
  font-weight: 800;
}
