.inherited{
    border: 1px solid rgb(148, 148, 148);
    box-sizing: border-box;
    width: 70%;
    border-radius: 1em;
    background-color: rgb(242, 252, 255);
    padding: 0 0 1em 2em;
    margin-top: 2em;
}

.inherited h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.inherited .content{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.inherited .content .button{
    display: flex;
    align-items: center;
}

.inherited .content .button input{
    border: 0;
    outline: 0;
    padding: 1em 7em 1em 1em;
    border-radius: 10px;
    background-color: #d6d6d6d5;
    margin-right: 1.5em;
}

.inherited .content .button input::placeholder{
    font-weight: 500;
    color:rgba(120, 120, 243, 1);
    font-size: 1em;
}

.inherited .content button{
    width: 6.5em;
    height: 3.25em;
    background: rgba(120, 120, 243, 1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border: 0;
    outline: 0;
    box-shadow: -1px 3px 10px grey;  
    padding-right: 0.5em;    
}

.inherited .content button img{
    width: 2.5em;
    height: 2.5em;
}

.inherited .content button span{
    font-weight: bold;
}

.inherited .content .props{
    width: 50%;
}
