.MainQualities {
  margin-top: 1.1rem;
  background-color: skyblue;
  height: 4rem;
}
.MainQualities ul {
  list-style: none;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.MainQualities ul li {
  margin: auto;
  padding-top: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: .5s;
  user-select: none;
}

.MainQualities ul li:hover{
  color:rgb(169, 78, 255);
}