img {
  width: 13em;
  height: 13em;
  margin: auto;
}
p {
  width: 60%;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.oneRound {
  display: flex;
  flex-direction: column;
  width: 25rem;
}
