.pastConsultation {
  background-color: rgba(229, 228, 228, 1);
  height: max-content;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 1em 0 1em;
  margin: 1em 0 0 0;
}

.pastConsultation table {
  width: 100%;
}

.pastConsultation table thead{
  font-weight: 700;
  height: 3em;
  box-sizing: border-box;
}

.pastConsultation table thead td:nth-child(1),
thead td:nth-child(2),
.pastConsultation table tr td:nth-child(1),
tr td:nth-child(2) {
  min-width: 10em;
  max-width: 10em;
  word-wrap: break-word;
  padding: 0.5em;
}


.pastConsultation table td:last-child {
  text-align:right;
  width: 7em;
  
}
